body{
    background: linear-gradient(to top right,#1c1720, #184d48);
    position: relative;

}
h1 {
    border: 2px #eee solid;
    color: #e4ac13;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: 70px -17px 100px 60px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 70px -17px 100px 60px rgba(34, 60, 80, 0.2);
    box-shadow: 70px -17px 100px 60px rgba(34, 60, 80, 0.2)
}

footer{
    display: block;
    height: 100px;
    background-color: indigo;
    width: 100%;
}
.design_info{
    color: #e4ac13;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
}
.btn.btn-primary.btn_design{
    background: #f0ef3d;
    color: #162a2b;
    font-size: 15px;
    font-weight: bold;
}

.badge.bg-warning.title_video {
    background: #f0ef3d;
}
.img_insert{
    display:block;
    width: 100%;
}